/* ===== MAIN CONTENT ===== */
.main-content {
    flex: 1;
    padding: 30px;
    transition: 0.3s ease;
    color: white;
}

/* PUSH CONTENT WHEN PANEL OPENS */
.layout.active .main-content {
    margin-left: 320px;
}

/* ===== LEFT PANEL ===== */
.settings-panel {
    position: fixed;
    top: 0;
    left: -320px;
    width: 320px;
    height: 100%;
    background-color: #2e7072;
    color: white;
    padding: 25px 20px;
    transition: 0.3s ease;
    z-index: 999;
    overflow-y: auto;
}

.settings-panel.active {
    left: 0;
}

/* ===== USER ===== */
.user-box {
    display: flex;
    gap: 12px;
    margin-bottom: 25px;
}

.user-box img {
    width: 50px;
    border-radius: 50%;
}

/* ===== MENU ITEMS ===== */
.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

/* ===== SWITCH ===== */
.switch {
    position: relative;
    width: 45px;
    height: 24px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    inset: 0;
    background: red;
    border-radius: 50px;
}

.slider:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    transition: 0.3s;
}

input:checked+.slider {
    background: #22c55e;
}

input:checked+.slider:before {
    transform: translateX(20px);
}

.dropdown-box {
    color: white;
}

.dropdown-header {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 1rem;
}

.dropdown-content {
    display: none;
    padding: 10px;
    margin-top: 5px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);

}

.dropdown-content.active {
    display: block;
}

.option {
    display: flex;
    justify-content: space-between;
    padding: 8px 5px;
    cursor: pointer;
}

.option input {
    display: none;
}

.radio {
    width: 16px;
    height: 16px;
    background: #ffffff;
    border-radius: 50%;
}

.option input:checked+.radio {
    background: #00a23b;
}

/* ===== MOBILE FIX ===== */
@media (max-width: 768px) {
    .layout.active .main-content {
        margin-left: 0;
    }
}